@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.students-container {
    padding: 30px 20px 30px 20px;
    background-color: rgb(205, 232, 241);
    width: 100%;
}

.form-top-container {
    display: flex;
    justify-content: space-between;
}

.form-center-container {
    display: flex;
    flex-direction:column;
}

.students-form-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input-container {
    margin: 0px 0px 15px 0px;
}

.each-label-item {
    font-weight: bold;
    font-size: 14px;
    border-radius: 14px;
    color: rgb(70, 67, 67);
}

.input-item {
    outline: none;
    padding: 10px 8px 10px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(163, 223, 166);
    font-size: 14px;
    width: 320px;
    height: 40px;
}

.students-form-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students-form-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students-form-webcamera-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-of-same-family-heading {
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-top: 25px;
}

.students-form-bottom-container {
    display: flex;
    justify-content: flex-start;
}

.second-label-input-conteiner {
    margin-top: 10px;
}

.second-form-input-item {
    outline: none;
    padding: 10px 8px 10px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin-right: 18px;
    border-color: rgb(163, 223, 166);
}

.third-form-input-item {
    outline: none;
    padding: 10px 8px 10px 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin-right: 18px;
    border-color: rgb(163, 223, 166);
}

.form-bottom-container {
    display: flex;
    justify-content: flex-start;
}

.bottom-buttons-container {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    margin-top: 15px;
}

.each-bottom-button {
    margin-right: 10px;
}

.form-bottom-container-ul {
    list-style-type:none;
    padding-left:0px;
    margin-left:0px;
    margin-top:15px;
    display:flex;
}
.each-bottom-anchor {
    margin-right:18px;
    cursor:pointer;
    font-family:"Roboto";
}
@media (max-width:530px) {
    .each-bottom-anchor {
        margin-right:10px;
        cursor:pointer;
        font-family:"Roboto";
        font-size:15px;
    }
}
@media (max-width:440px) {
    .each-bottom-anchor {
        margin-right:10px;
        cursor:pointer;
        font-family:"Roboto";
        font-size:11px;
    }
}
@media (max-width:360px) {
    .each-bottom-anchor {
        margin-right:10px;
        cursor:pointer;
        font-family:"Roboto";
        font-size:9px;
    }
}
@media (max-width:310px) {
    .each-bottom-anchor {
        margin-right:10px;
        cursor:pointer;
        font-family:"Roboto";
        font-size:7px;
    }
}

/* xs approach styls @media(max-width : 576px)*/

@media (max-width: 576px) {
    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
    
}
/* xs and sm approach styls @media(min-width : 577px) and (max-width : 768px)*/

@media (min-width: 577px) and (max-width: 768px) {
    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
}

/* sm and md approach styls @media(min-width : 769px) and (max-width : 992px)*/

@media (min-width: 769px) and (max-width: 992px) {
    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
}


/* md and lg approach styls @media(min-width : 993px) and (max-width : 1200px)*/

@media (min-width: 993px) and (max-width: 1200px) {
    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
}

/* lg and xl approach styls @media(min-width : 1201px) and (max-width : 1400px)*/

@media(min-width : 1201px) and (max-width : 1400px) {
    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 100%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
}

/* xl approach styls @media(min-width : 1201px) and (max-width : 1400px)*/

@media(min-width : 1401px) {
    .students-container {
        padding: 20px 60px 20px 60px;
        background-color: rgb(205, 232, 241);
        width: 100%;
    }

    .label-input-container {
        margin: 0px 0px 15px 0px;
        width: 90%;
    }

    .input-item {
        outline: none;
        padding: 10px 8px 10px 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        border-color: rgb(163, 223, 166);
        font-size: 14px;
        width: 100%;
        height: 40px;
    }
    .form-center-container {
        display: flex;
        flex-direction:column;
        margin-left:20px;
        margin-bottom:15px;
    }
    .form-bottom-container-ul {
        list-style-type:none;
        padding-left:0px;
        margin-left:20px;
        margin-top:8px;
        display:flex;
    }
}